## Hands-on - Matrices, DataFrames, and Time-Series Data

In [274]:
# Import necessary libraries
import pandas as pd  # pandas is used for handling tabular datasets (dataframes) and performing operations such as reading CSV files
import numpy as np  # numpy is used for numerical computations such as working with arrays and applying mathematical operations

# Load dataset from GitHub URL
file_path = "https://raw.githubusercontent.com/Hamed-Ahmadinia/DASP-2025/main/Bike%20Sales.csv"  # URL link to the dataset stored on GitHub

# Read the dataset into a pandas dataframe
df = pd.read_csv(file_path)  # Load the dataset as a pandas DataFrame

# Display the first few rows of the dataframe to confirm the data has been loaded correctly
print("Dataset Preview:")  # Print a label for context
print(df.head(5))  # Display the first 5 rows of the dataset

Dataset Preview:
         Date  Day     Month  Year  Customer_Age       Age_Group  \
0  2013-11-26   26  November  2013            19     Youth (<25)
1  2015-11-26   26  November  2015            19     Youth (<25)
2  2014-03-23   23     March  2014            49  Adults (35-64)
3  2016-03-23   23     March  2016            49  Adults (35-64)
4  2014-05-15   15       May  2014            47  Adults (35-64)

  Customer_Gender    Country             State Product_Category Sub_Category  \
0               M     Canada  British Columbia      Accessories   Bike Racks
1               M     Canada  British Columbia      Accessories   Bike Racks
2               M  Australia   New South Wales      Accessories   Bike Racks
3               M  Australia   New South Wales      Accessories   Bike Racks
4               F  Australia   New South Wales      Accessories   Bike Racks

               Product  Order_Quantity  Unit_Cost  Unit_Price  Profit  Cost  \
0  Hitch Rack - 4-Bike               8         45         120     590   360
1  Hitch Rack - 4-Bike               8         45         120     590   360
2  Hitch Rack - 4-Bike              23         45         120    1366  1035
3  Hitch Rack - 4-Bike              20         45         120    1188   900
4  Hitch Rack - 4-Bike               4         45         120     238   180

   Revenue
0      950
1      950
2     2401
3     2088
4      418

### **Exercise 1: Convert the "Date" column to datetime format**
**Question:** Convert the "Date" column to pandas datetime format.

In [275]:
#Converts date columns date strings to pandas datetime objects for easier processing
df['Date']=pd.to_datetime(df['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              113036 non-null  datetime64[ns]
 1   Day               113036 non-null  int64
 2   Month             113036 non-null  object
 3   Year              113036 non-null  int64
 4   Customer_Age      113036 non-null  int64
 5   Age_Group         113036 non-null  object
 6   Customer_Gender   113036 non-null  object
 7   Country           113036 non-null  object
 8   State             113036 non-null  object
 9   Product_Category  113036 non-null  object
 10  Sub_Category      113036 non-null  object
 11  Product           113036 non-null  object
 12  Order_Quantity    113036 non-null  int64
 13  Unit_Cost         113036 non-null  int64
 14  Unit_Price        113036 non-null  int64
 15  Profit            113036 non-null  int64
 16  Cost              113036 non-null  int64
 17  Revenue           113036 non-null  int64
dtypes: datetime64[ns](1), int64(9), object(8)
memory usage: 15.5+ MB

### **Exercise 2: Set the "Date" column as the index**
**Question:** Set the "Date" column as the index of the DataFrame.

In [276]:
#set Date column to rows index-> it will allways show date
df.set_index('Date',inplace=True)
# indexes must be sorted otherwise slicing is not working
df.sort_index(inplace=True)
df.head()

,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
Date,,,,,,,,,,,,,,,,,
2011-01-01,1,January,2011,42,Adults (35-64),M,United States,California,Bikes,Road Bikes,"Road-750 Black, 44",1,344,540,185,344,529
2011-01-01,1,January,2011,33,Young Adults (25-34),F,France,Yveline,Bikes,Road Bikes,"Road-150 Red, 48",2,2171,3578,1097,4342,5439
2011-01-01,1,January,2011,17,Youth (<25),M,Canada,British Columbia,Bikes,Road Bikes,"Road-250 Red, 44",1,1519,2443,900,1519,2419
2011-01-01,1,January,2011,39,Adults (35-64),M,United States,Washington,Bikes,Road Bikes,"Road-550-W Yellow, 38",3,713,1120,482,2139,2621
2011-01-01,1,January,2011,23,Youth (<25),M,Australia,Victoria,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1,1252,2295,561,1252,1813

### **Exercise 3: Slice the data from '2013-01-01' to '2013-12-31'**
**Question:** Slice the DataFrame to show data for the year 2013.

In [277]:
print(df['2013-01-01' : '2013-12-31'])

            Day     Month  Year  Customer_Age             Age_Group  \
Date
2013-01-01    1   January  2013            29  Young Adults (25-34)
2013-01-01    1   January  2013            29  Young Adults (25-34)
2013-01-01    1   January  2013            19           Youth (<25)
2013-01-01    1   January  2013            53        Adults (35-64)
2013-01-01    1   January  2013            42        Adults (35-64)
...         ...       ...   ...           ...                   ...
2013-12-31   31  December  2013            53        Adults (35-64)
2013-12-31   31  December  2013            46        Adults (35-64)
2013-12-31   31  December  2013            27  Young Adults (25-34)
2013-12-31   31  December  2013            26  Young Adults (25-34)
2013-12-31   31  December  2013            25  Young Adults (25-34)

           Customer_Gender        Country              State Product_Category  \
Date
2013-01-01               F  United States            Florida            Bikes
2013-01-01               M  United States             Oregon            Bikes
2013-01-01               F  United States         Washington            Bikes
2013-01-01               F         France      Seine (Paris)            Bikes
2013-01-01               M      Australia         Queensland            Bikes
...                    ...            ...                ...              ...
2013-12-31               M  United States             Oregon      Accessories
2013-12-31               M         France  Seine Saint Denis            Bikes
2013-12-31               M      Australia         Queensland      Accessories
2013-12-31               F      Australia    South Australia      Accessories
2013-12-31               F      Australia           Victoria            Bikes

                 Sub_Category                  Product  Order_Quantity  \
Date
2013-01-01         Road Bikes         Road-650 Red, 62               1
2013-01-01         Road Bikes       Road-650 Black, 44               1
2013-01-01         Road Bikes         Road-150 Red, 48               1
2013-01-01         Road Bikes       Road-250 Black, 44               1
2013-01-01         Road Bikes    Road-350-W Yellow, 48               1
...                       ...                      ...             ...
2013-12-31  Bottles and Cages    Water Bottle - 30 oz.               8
2013-12-31     Mountain Bikes  Mountain-500 Silver, 44               1
2013-12-31  Bottles and Cages    Water Bottle - 30 oz.              15
2013-12-31    Tires and Tubes        Touring Tire Tube               4
2013-12-31         Road Bikes    Road-350-W Yellow, 48               1

            Unit_Cost  Unit_Price  Profit  Cost  Revenue
Date
2013-01-01        487         783     257   487      744
2013-01-01        487         783     186   487      673
2013-01-01       2171        3578     620  2171     2791
2013-01-01       1555        2443     448  1555     2003
2013-01-01       1083        1701     346  1083     1429
...               ...         ...     ...   ...      ...
2013-12-31          2           5      18    16       34
2013-12-31        308         565     155   308      463
2013-12-31          2           5      33    30       63
2013-12-31          2           5       8     8       16
2013-12-31       1083        1701     261  1083     1344

[24443 rows x 17 columns]

### **Exercise 4: Calculate cumulative revenue**
**Question:** Add a new column 'Cumulative_Revenue' that shows the cumulative sum of the revenue.

In [278]:
df['Cumulative_Revenue']=df['Revenue'].cumsum()
df[['Revenue','Cumulative_Revenue']].head(1000)

            Revenue  Cumulative_Revenue
Date
2011-01-01      529                 529
2011-01-01     5439                5968
2011-01-01     2419                8387
2011-01-01     2621               11008
2011-01-01     1813               12821
...             ...                 ...
2011-06-03     1221             3489664
2011-06-03     3326             3492990
2011-06-03     1833             3494823
2011-06-04     2297             3497120
2011-06-04     7084             3504204

[1000 rows x 2 columns]

### **Exercise 5: Downsample to show monthly total revenue (Hint: Use resampling)**
**Question:** Resample the data to calculate total monthly revenue.

In [279]:
#If there are duplicate dates in the index, this groups them together and sums their values.
df = df.groupby(df.index).sum()
df_resampled = df.resample('ME').sum()
df_resampled['Revenue'].head()# show only relevant info

Date
2011-01-31    675193
2011-02-28    637598
2011-03-31    708517
2011-04-30    698782
2011-05-31    734537
Freq: ME, Name: Revenue, dtype: int64